body {
	margin: 0;
}

.app {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../public/assets/gradienta-LeG68PrXA6Y-unsplash.jpg");
	background-position: center;
	background-size: cover;
}
